<!-- select2 -->
        <script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    maximumSelectionLength: 4,
                    placeholder: "With Max Selection limit 4",
                    allowClear: true
                });
            });
        </script>
        <!-- /select2 -->
        
        <!-- form validation -->
        <script type="text/javascript">
        

            $(document).ready(function () {
                $.listen('parsley:field:validate', function () {
                    validateFront();
                });
                $('#form_encabezado .btn').on('click', function () {
                    $('#form_encabezado').parsley().validate();
                    validateFront();
                });
                var validateFront = function () {
                    if (true === $('#form_encabezado').parsley().isValid()) {
                        $('.bs-callout-info').removeClass('hidden');
                        $('.bs-callout-warning').addClass('hidden');
                    } else {
                        $('.bs-callout-info').addClass('hidden');
                        $('.bs-callout-warning').removeClass('hidden');
                    }
                };
            });
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) {}
        </script>
        <!-- /form validation -->
        <!-- editor -->
        <script>
            $(document).ready(function () {
                $('.xcxc').click(function () {
                    $('#descr').val($('#editor').html());
                });
            });

            $(function () {
                function initToolbarBootstrapBindings() {
                    var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                    $.each(fonts, function (idx, fontName) {
                        fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                    });
                    $('a[title]').tooltip({
                        container: 'body'
                    });
                    $('.dropdown-menu input').click(function () {
                            return false;
                        })
                        .change(function () {
                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                        })
                        .keydown('esc', function () {
                            this.value = '';
                            $(this).change();
                        });

                    $('[data-role=magic-overlay]').each(function () {
                        var overlay = $(this),
                            target = $(overlay.data('target'));
                        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                    });
                    if ("onwebkitspeechchange" in document.createElement("input")) {
                        var editorOffset = $('#editor').offset();
                        $('#voiceBtn').css('position', 'absolute').offset({
                            top: editorOffset.top,
                            left: editorOffset.left + $('#editor').innerWidth() - 35
                        });
                    } else {
                        $('#voiceBtn').hide();
                    }
                };

                function showErrorAlert(reason, detail) {
                    var msg = '';
                    if (reason === 'unsupported-file-type') {
                        msg = "Unsupported format " + detail;
                    } else {
                        console.log("error uploading file", reason, detail);
                    }
                    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                };
                initToolbarBootstrapBindings();
                $('#editor').wysiwyg({
                    fileUploadError: showErrorAlert
                });
                window.prettyPrint && prettyPrint();
            });
        </script>
        <!-- /editor -->

<div ng-controller="pedidoController">
	<div class="page-title">
		<div class="title_left">
            <h3 style="width: 200px">Nuevo Pedido</h3>
        </div>
	</div>

	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tabbable tabbable-custom">
                    <ul class="nav nav-tabs tabs">
                        <li data-tab="tab_1" class="active"><a data-tab="tab_1" data-toggle="tab">1. Encabezado</a></li>
                        <li data-tab="tab_2"><a data-tab="tab_2" data-toggle="tab">2. Detalle</a></li>
                        <li data-tab="tab_3"><a data-tab="tab_3" data-toggle="tab">3. Balance</a></li>
                    </ul>   
                    <div class="tab-content">
                        <div id="tab_1" class="tab-pane active">
                            <form id="form_encabezado" data-parsley-validate class="form-horizontal form-label-left" name="form_encabezado"  novalidate>
                            </br>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="rowid_tercero" class="control-label col-md-3 col-sm-3 col-xs-12">Tercero<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input  placeholder="Seleccionar Tercero" type="text" ng-model="Search" class="form-control col-md-7 col-xs-12"  ng-change="onChangeFiltroTercero()"  ></input>
                                            <select 
                                                ng-model="terceroSelected" id="TerceroSelected" ng-options="partner as partner.razonsocial 
                                                for partner in list_tercero | filter:Search" class="form-control" ng-change="onChangeTercero()" >
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Sucursal Facturacion<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select  id="rowid_cliente_facturacion" required
                                                        ng-model="sucursal"  ng-options="sucursal as sucursal.nombre_sucursal 
                                                        for sucursal in list_Sucursales " class="form-control" ng-change="onChangeSucursal()" >
                                                    </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Sucursal Despacho<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select  id="rowid_cliente_despacho" required
                                                        ng-model="pedidos.rowid_cliente_despacho"  ng-options="sucursal.rowid as sucursal.nombre_sucursal 
                                                        for sucursal in list_Sucursales " class="form-control"  >
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Lista Precio<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select  id="rowid_lista_precios" ng-change="onChangeListaPrecios()"
                                                        ng-model="pedidos.rowid_lista_precios"  ng-options="listprecios.rowid as listprecios.erp_descripcion 
                                                        for listprecios in list_precios " class="form-control"  required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Punto Envio<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="id_punto_envio"  required
                                                        ng-model="pedidos.id_punto_envio"  ng-options="puntoenvio.rowid as puntoenvio.Nombre_punto_envio 
                                                        for puntoenvio in list_puntoEnvio " class="form-control" >
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Orden Compra<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input  placeholder="Orden Compra" id="orden_compra" type="text" ng-model="pedidos.orden_compra" class="form-control col-md-7 col-xs-12"  ></input>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">

                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Solicitud <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="date" id="fecha_solicitud" name="fecha_solicitud" class="form-control"  ng-model="date"  ng-change="fechasolicitud()" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        
                                    </div>
                                </div>
                                <div class="form-actions ">
                                    <button type="submit" class="btn btn-success pull-right" ng-disabled="form_encabezado.$invalid"  ng-click="CambiarTab('3','atras')">Continuar</button>
                                </div>
                            </form>
                        </div>
                        <div id="tab_2" class="tab-pane">
                            <form class="form-horizontal form-label-left" name="form_detalle" >
                                <div class="form-group">
                                    <label for="rowid_item" class="control-label">Items<span class="required">*</span>
                                    </label>
                                    <input type="text" ng-model="SearchItem"  placeholder="Buscar Item" name="  rowid_item"  ng-change="onChangeFiltro()" class="form-control"/>
                                    <select  id="rowid_item" ng-model="item"  ng-options="item as item.producto 
                                        for item in list_items  |filter:SearchItem" class="form-control" required >
                                    </select>
                                    </br>
                                    <button type="button" class="btn btn-success"  ng-click="adicionaritem()" data-toggle="dropdown">
                                        <span class="icon-ok control-label" ng-disabled"form_detalle.$invalid"></span>
                                        <span class="control-label">Agregar Item</span>
                                    </button>
                                </div>
                                <label for="rowid_item" class="control-label">Listado de items agregados:</label>
        
                                <div class="form-group" ng-repeat="itemsAgregadoPedido in itemsAgregadosPedido">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8 form-group">
                                            {{itemsAgregadoPedido.producto}}
                                        </div>
                                        <div class="  col-xs-3 form-group pull-right">
                                            <input type="number" class="form-control " ng-model="itemsAgregadoPedido.cantidad" ng-change="actualizarPrecio()" value="1" min="1" style=" height: 34px;width: 51px;padding: 0px" />
                                        </div>
                                        <div class="col-md-2 col-sm-13 col-xs-12 form-group">
                                            <span class="badge">IVA :{{itemsAgregadoPedido.iva  | currency}}</span>
                                            
                                            <span class="badge">V/U :{{itemsAgregadoPedido.precio  | currency}}</span>
                                            <span class="badge">V+IVA :{{itemsAgregadoPedido.precio + itemsAgregadoPedido.iva  | currency}}</span>
                                            <span class="badge">V/T :{{(itemsAgregadoPedido.precio+ itemsAgregadoPedido.iva)*itemsAgregadoPedido.cantidad  | currency}}</span>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-xs-8 form-group">        
                                           <button type="button" class="btn btn-danger" 
                                                ng-click="delete($index)" value="Eliminar" data-toggle="dropdown">Eliminar
                                            </button> 
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button class="btn btn-success pull-right" type="submit" ng-click="CambiarTab('2','siguiente')" >Continuar</button>
                                    <button class="btn btn-primary pull-right" type="submit" ng-click="CambiarTab('2','atras');">Atras</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="rows">
                                <div class="col-md-12">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <table class="table table-hover table-striped">
                                                <tr>
                                                    <td>
                                                        Item
                                                    </td>
                                                    <td>
                                                        Cant.
                                                    </td>
                                                    <td>
                                                        V. Total
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="itemsAgregadoPedido in itemsAgregadosPedido" >
                                                    <td>{{itemsAgregadoPedido.producto}} </td>
                                                    <td>{{itemsAgregadoPedido.cantidad}}</td>
                                                    <td>{{itemsAgregadoPedido.precio*itemsAgregadoPedido.cantidad| currency}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cantidad</td>
                                                    <td></td>
                                                    <td>{{pedidoDetalles.cantidad}}</td>
                                                </tr>
                                                <tr>
                                                    <td>IVA</td>
                                                    <td></td>
                                                    <td>{{pedidoDetalles.iva| currency}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valor Total</td>
                                                    <td></td>
                                                    <td>{{pedidoDetalles.total| currency}}</td>
                                                </tr>
                                            </table>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-success pull-right" ng-click="finalizarPedido()">Finalizar <i class="icon-angle-right"></i></button>
                                <button class="btn btn-primary pull-right" ng-click="CambiarTab(3,'atras');">Atras</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>