<div   ng-controller='TercerosController'>
    <div class="row col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Clientes </h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="form-label">Cliente</label>
                        <input ng-model='search' class="form-control" ></input>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <td>Nit</td>
                                <td>Razon Social</td>
                            </tr>
                            <tr ng-repeat="terceros in terceros | filter:search" ng-click="abrirModal(terceros)">
                                <a >
                                    <td>{{terceros.identificacion}}</td>
                                    <td>{{terceros.razonsocial}}</td>
                                </a>
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="terceroDetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Informacion Cliente</h4>
                </div>
                <div class="modal-body">
                    <div id="testmodal" style="padding: 0px;">
                        <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                            <div class="row" style="margin-left: 10px">
                                <a class="btn btn-success" href="#/crm/calendario/{{terceroSeleccionado.rowid}}">Actividad</a>
                                <a class="btn btn-success" href="#/ventas/pedido_nuevo/{{terceroSeleccionado.rowid}}">Pedido</a>
                                <a class="btn btn-success" ng-click="abrirModalEmail()">Enviar Correo</a>
                            </div>
                            <div class="row " style="margin: 0px">
                                <div class="form-group col-md-4 col-xs-12" style="margin: 1px">
                                    Razon Social : <strong>{{terceroSeleccionado.razonsocial}}</strong>
                                </div> 
                            </div>
                            
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12" style="margin: 1px">
                                    Documento : <strong>{{terceroSeleccionado.identificacion}}</strong> 
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12" style="margin: 1px">
                                    Telefono : <strong>{{terceroSeleccionado.identificacion}}</strong> 
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12" style="margin: 1px">
                                    Direccion : <strong>{{terceroSeleccionado.identificacion}}</strong> 
                                </div>
                            </div>
                            <h3>Informacion Contacto</h3>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12 col-xs-12" style="margin: 1px">
                                    Nombre :<strong> {{terceroDetalles.contacto}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12 col-xs-12" style="margin: 1px">
                                    Telefono Pricipal :<strong> {{terceroDetalles.telefono}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-6 col-xs-12" style="margin: 1px">
                                    Telefono Alterno :<strong> {{terceroDetalles.celular}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-6 col-xs-12" style="margin: 1px">
                                    Correo :<strong> {{terceroDetalles.email}}</strong>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="terceroEmail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Enviar Correo</h4>
                </div>
                <div class="modal-body">
                    <div id="testmodal" style="padding: 0px;">
                        <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                            <div class="row form-group">
                                <div class="col-md-3 col-sm-3 col-xs-4" style="padding: 0px">
                                    <label class="control-label ">Para:</label>
                                </div>
                                
                                <div class="col-sm-9">
                                    <strong> {{terceroDetalles.email}}</strong>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4 col-sm-3 " style="padding: 0px">
                                    <label class="control-label ">Asunto:</label>
                                </div>
                                
                                <div class="col-sm-8 col-md-8 col-xs-8">
                                    <input class="form-control"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="terceroOpenModalEmail" data-toggle="modal" data-target="#terceroEmail"></div>
    <div id="terceroOpenModal" data-toggle="modal" data-target="#terceroDetalle"></div>
</div>